ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.bird-flock-1 {
	width: 100%;
    height: 480px;
    overflow: hidden;
    position: relative;
}

.bird-container {
	position: absolute;
	width: 110px;
	height: 85px;
	animation: fly-in 6s 1 both;

	.bird-flock-1 & label {
		display: block;
		height: 85px;
		background-image: url(../images/sprite.png);
		background-repeat: no-repeat;
		animation: fly steps(3) 2s infinite forwards;
	}

	@for $i from 1 through 10 {
		&:nth-child(#{$i}) {
			animation-delay: ($i * 6) + random(3) + s;
			left: random(1000) + px;
		}
	}
}